{% extends 'base.html.twig' %}

{% block title %}Encyclopedia : Demons{% endblock %}

{% block body %}
    <div class="menuTable">


        <div class="menu">
            <ul>
                <li><a href=" {{path('demonsList')}}">Gods</a></li>
                <li><a href=" {{path('itemsList')}}">Items</a></li>
                <li><a href=" {{path('skillsList')}}">Skills</a></li>
                <li><a href=" {{path('traitsList')}}">Traits</a></li>
            </ul>
        </div>
        <div class="divTable">
        <table>
            <thead>
                <tr>
                    <th><b>ID</b></th>
                    <th><b>Name</b></th>
                </tr>
            </thead>
            <tbody>
                {% for trait in traits %}
                <tr>
                    <td>{{trait.id}}</td>
                    <td>{{trait.name}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
{% endblock %}
