{% extends 'base.html.twig' %}
{% block meta %}
    <meta name="description" content="Homepage of Ad Finem Temporis">
    <meta name="keywords" content="Homepage,Game">
{% endblock %}
{% block title %}Ad Temporis Finem{% endblock %}

{% block body %}
<div class="heroBanner">
    <div class="titleWithSmall">
        <h1><i>Ad Temporis Finem</i></h1><!-- img class="bannerImg" src="{{asset('img/horusImg.jpg')}}" !-->
        <small>Until the end of Times...</small>
    </div>
    <p>A mash-up of Pokemon and some other game series</p>
</div>
<main class="forceRow">
    <div class="aside">
    <p>You are lost and you won’t be able to find your way back alone. Make pacts with demons and fight alongside them to 
        defeat your foes. Vanquish mighty entities and embark on an epic adventure.</p>

        <div class="rowButtons">
            <a class="looksLikeAButtonGrey">Join In</a>
            <a class="looksLikeAButtonGrey">Log In</a>
            <div class="specialButton">
                <a href="{{path('game')}}" alt="Play button" class="looksLikeAButtonViolet pixel-corners">Play</a>
                <a href="{{path('game')}}" alt="Play button" class="looksLikeAButtonViolet shadow">Play</a>
            </div>
        </div>
    </div>

    <div class="twoCards">
        <div class="card">
            <div class="titleOverCard">
                <h2>For both newcomers and veterans alike</h2>
            </div>
            <div class="cardContent pixel-corners">
                <img class="cardSvg" alt="medal icon" src=" {{asset('img/medal-violet.svg')}}">
                <p>A new player guide in-game will help you to master the game. For players comfortable with the genre, you’ll just feel like home.</p>
            </div>
        </div>

        <div class="card">
            <div class="titleOverCard">
                <h2>Join and participate in the game community.</h2>
            </div>
            <div class="cardContent pixel-corners">
                <img class="cardSvg" alt="planet icon" src=" {{asset('img/planet-violet.svg')}}">
                <p>Propose your mythological figures or boost already existing suggestions</p>
            </div>
        </div>
    </div>
</main>
<aside class="secondRow">
    <div class="longCard">
        <div class="element">
            <p>Turn-based system</p>
            <img class="elementSvg" alt="crossing swords icon" src=" {{asset('img/crossing-swords-violet.svg')}}">
        </div>
        <div class="element">
            <p>RPG elements</p>
            <img class="elementSvg" alt="dice icon" src=" {{asset('img/dice-violet.svg')}}">
        </div>
        <div class="element">
            <p>Learn about myths and legends</p>
            <img class="elementSvg" alt="dragon icon" src=" {{asset('img/dragon-violet.svg')}}">
        </div>
    </div>
</aside>
{% endblock %}
