{% extends 'base.html.twig' %}
{% block meta %}
    <meta name="description" content="Homepage of Ad Finem Temporis">
    <meta name="keywords" content="Homepage,Game">
{% endblock %}
{% block title %}Ad Finem Temporis{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<main class="forceRow">
    <div class="aside">
    <p>You are lost and you won’t be able to find your way back alone. Make pacts with demons and fight alongside them to 
        defeat your foes. Vanquish mighty entities and embark on an epic adventure.</p>

        <div class="rowButtons">
            <a class="looksLikeAButtonGrey">Join In</a>
            <a class="looksLikeAButtonGrey">Log In</a>
            <a href="{{path('game')}}" class="looksLikeAButtonGrey">Play</a>
        </div>
    </div>

    <div class="twoCards">
        <div class="card">
            <div class="titleOverCard">
                <h2>For both newcomers and veterans alike</h2>
            </div>
            <div class="cardContent">
                <img class="cardSvg" src=" {{asset('img/medal.svg')}}">
                <p>A new player guide in-game will help you to master the game. For players comfortable with the genre, you’ll just feel like home.</p>
            </div>
        </div>

        <div class="card">
            <div class="titleOverCard">
                <h2>Join and participate in the community.</h2>
            </div>
            <div class="cardContent">
                <img class="cardSvg" src=" {{asset('img/planet.svg')}}">
                <p>Propose your mythological figures or boost already existing suggestions</p>
            </div>
        </div>
    </div>
</main>
<aside class="secondRow">
    <div class="longCard">
        <div class="element">
            <p>Turn-based system</p>
            <img class="elementSvg" src=" {{asset('img/epees.svg')}}">
        </div>
        <div class="element">
            <p>RPG elements</p>
            <img class="elementSvg" src=" {{asset('img/dice.svg')}}">
        </div>
        <div class="element">
            <p>Learn about myths and legends</p>
            <img class="elementSvg" src=" {{asset('img/dragon.svg')}}">
        </div>
    </div>
</aside>
{% endblock %}
