{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1 class="centerTitle">Register</h1>

    <div class="formGlobal">
        <div class="formInside">
            {{ form_errors(registrationForm) }}

            {{ form_start(registrationForm, { 'attr' : {'class': 'formRegister'} }) }}
                {{ form_row(registrationForm.username) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.plainPassword.first) }}
                <small class="orange smallText"><i>{{ form_help(registrationForm.plainPassword)}}</i></small>
                {{ form_row(registrationForm.plainPassword.second) }}
                {{ form_row(registrationForm.agreeTerms) }}
                <p class="paraForm centerTitle">Fields marked with <b>*</b> are mandatory.</p>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
