{% extends 'base.html.twig' %}

{% block title %}Encyclopedia : Demons{% endblock %}

{% block body %}
    <div class="menuTable">
        <div class="menu">
            <ul>
                <li><a href=" {{path('demonsList')}}">Gods</a></li>
                <li><a href=" {{path('itemsList')}}">Items</a></li>
                <li><a href=" {{path('skillsList')}}">Skills</a></li>
                <li><a href=" {{path('traitsList')}}">Traits</a></li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li><a href=" {{path('skillTablesList')}}">SkillTable</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="divTable">
            {% if is_granted('ROLE_ADMIN') %}
            <div class="pex">
                {% for message in app.flashes('noticeChange') %}
                    <p>{{ message }}</p>
                {% endfor %}
                <a class="looksLikeAButtonBlack" href="{{path('newSkillTable')}}">Add a new one</a>
            </div>
            {% endif %}

            {% for demonBaseId, skillTables in groupedSkillTables %}
            <h2 class="centerTitle"> {{ skillTables[0].demonBase.name }} Demon Base ID: {{ demonBaseId }}</h2>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Level</th>
                        <th>Skill name</th>
                        {% if is_granted('ROLE_ADMIN') %}
                            <th><b>Actions</b></th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for skillTable in skillTables %}
                        <tr>
                            <td>{{ skillTable.id }}</td>
                            <td>{{ skillTable.level }}</td>
                            <td>{{ skillTable.skill.name }}</td>
                            {% if is_granted('ROLE_ADMIN') %}
                            <td>
                                <i><a class="deleteBtn" href='#'>X</a><a href=" {{path('editSkillTable', {'id' : skillTable.id})}}">Edit</a></i>
                            </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endfor %}
        
        <!-- table>
            <thead>
                <tr>
                    <th><b>ID</b></th>
                    <th><b>Level</b></th>
                    {% if is_granted('ROLE_ADMIN') %}
                        <th><b>Actions</b></th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for skill in skillTables %}
                <tr>
                    <td>{{skill.id}}</td>
                    <td><a class="linkNoBase" href="">{{skill.level}}</a></td>  
                    {% if is_granted('ROLE_ADMIN') %}
                    <td>
                        {# <i><a class="deleteBtn" href='#'>X</a><a href=" {{path('editSkill', {'name' : skill.name})}}">Edit</a></i> #}
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table !-->
        </div>
        {% if is_granted('ROLE_ADMIN') %}
        <div id="myModal" class="modal">
            <div class="modal-content">
                <div class="modal-center">
                    <span class="close">&times;</span>
                    <p>Do you really want to delete this?</p>
                    <button id="yesBtn">Yes</button>
                    <button id="noBtn">No</button>
                </div>
            </div>
        </div>

        <script>
            var modal = document.getElementById("myModal");
            var btns = document.querySelectorAll(".deleteBtn");
            var span = document.getElementsByClassName("close")[0];
            var yesBtn = document.getElementById("yesBtn");
            var noBtn = document.getElementById("noBtn");
            
            btns.forEach(function(btn) {
                btn.onclick = function(event) {
                    event.preventDefault();
                    modal.style.display = "flex";
                    modal.style.justifyContent = "center"

                    // Get the name of the demon from the parent row
                    var skillTableId = this.parentElement.parentElement.parentElement.children[0].innerHTML;
                    console.log(skillTableId)
                    yesBtn.onclick = function() {
                        // handle the deletion here
                        window.location.href = "/admin/skillTable/" + encodeURIComponent(skillTableId) + "/delete";
                        modal.style.display = "none";
                    }
                }
            });
            
            span.onclick = function() {
                modal.style.display = "none";
            }
            
            yesBtn.onclick = function() {
                // handle the deletion here
                modal.style.display = "none";
            }
            
            noBtn.onclick = function() {
                modal.style.display = "none";
            }
            
            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        </script>
    {% endif %}
    </div>
{% endblock %}
