{% extends 'game.html.twig' %}

{% block title %}The Beginning{% endblock %}

{% block body %}
    <div class="TextDiv gameGlobalDivCombat">
        <div class="putRight">
            <div class="infosCPU">
                <p>{{cpuDemon.demonBase.name}}</p>
                <p><b>Level</b> : {{cpuDemon.getLevel}}</p>
                <div class="hpBar"></div>
                <p><span id="currentHpCPU">{{cpuDemon.getMaxHp}} HP</span> / <span id="maxHpCPU">{{cpuDemon.getMaxHp}} HP</span></p>
                
            </div>
    </div>

        <div class="infosSelf">
            {% for demon in playerDemons %}
                <p>{{demon.demonBase.name}}</p>
                <p><b>Level</b> : {{demon.getLevel}}</p>
                <div class="hpBar"></div>
                <p><span id="currentHpPlayer">{{demon.getMaxHp}} HP</span> / <span id="maxHpPlayer">{{demon.getMaxHp}} HP</span></p>
        {% endfor %}
        </div>
    </div>

    <div class="centerTextBox">
        <div class="textBoxCombat">
            <div class="textContentCombat">
                <p id="strong"><strong>What do you want to do ? </strong></p>
                <div class="spaceActions">
                    <p id="actions"><i>Actions</i></p>
                    <p id="Items"><i>Items</i></p>
                    <p id="Flee"><i>Flee</i></p>
                </div>
            </div>
        </div>
    </div>
        {% for skill in cpuDemon.skills %}
            {{skill.name}}
        {% endfor %}




    <div class="bottomLeft">
        <p id="mute">Mute/unmute</p>
        <input type="range" id="volume" name="volume" min="0" value="25" max="100" step="1"/>
        <label for="volume">Volume</label>
    </div>


{% endblock %}

{% block js %}
    <script src="{{ asset("js/combat.js")}}"></script>
{% endblock %}