{% extends 'game.html.twig' %}



{% block title %}Game Hub{% endblock %}

{% block body %}

<div class="flashes gameGlobalDiv">
    {% for message in app.flashes('notice') %}
        <p>{{ message }}</p>
    {% endfor %}
    {% for message in app.flashes('noticeLevel') %}
        <p>{{ message }}</p>
    {% endfor %}
</div>
<div class="gameGlobalDivGap toHide">
    {# <p class="toHide">This is the hub menu</p> #}
    <a class="linkNoBase" href="{{path('combat')}}">Wander around</a>
    <a class="linkNoBase" href="{{path('stageThree')}}">Continue story</a>
</div>
<div class="demonsBar toHide">
    <div class="demonsBarContent">
        {% for demon in demons %}
            <div class="demonCol" data-demon-id="{{demon.id}}">
                {{demon.demonBase.name}}
                {% if demon.lvlUpPoints > 0 %}
                <p>!</p>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>

<div class="bottomLeft">
    <p id="mute">Mute/unmute</p>
    <input type="range" id="volume" name="volume" min="0" value="25" max="100" step="1"/>
    <label for="volume">Volume</label>
</div>


<!-- Modal -->
<div id="modal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
            <span class="close">&times;</span>
        <div class="modal-stats"></div>
        <div class="modal-points"></div>
    </div>
</div>


{% endblock %}
    
{% block js %}
    <script src="{{ asset("js/hub.js")}}"></script>
{% endblock %}