{% extends 'base.html.twig' %}

{% block title %}Hello CommunityController!{% endblock %}

{% block body %}
<div class="globalDivColor">
    {# read and display just one flash message type #}
    {% for message in app.flashes('notice') %}
        <div class="flash-notice">
            <p>{{ message }}</p>
            <p>It's this one : <b></b></p>
        </div>
    {% endfor %}
    <div class="textArea">
        {% set path = asset('uploads/' ~ suggestion.img) %}
        {% if path == asset('uploads/') %}
        {% else %}
        <img src="{{path}}" alt="Illustration image">
        {% endif %}
            <p><b>{{suggestion.title}} | {{player.username}}</b></p>
            <p>Creation date : <b>{{suggestion.postDate|date("Y-m-d H : m A")}}</b></p>
            <p class="content">{{suggestion.postContent}}</p>
            <p>{{suggestion.status}}</p>
        </div>
    </div>
 
{% endblock %}
