{% extends 'base.html.twig' %}

{% block title %}Hello CommunityController!{% endblock %}

{% block body %}
<div class="globalDiv">
    {# read and display just one flash message type #}
    {% for message in app.flashes('notice') %}
        <div class="flash-notice">
            <p>{{ message }}</p>
            <p>It's this one : <b></b></p>
        </div>
    {% endfor %}

    {% for message in app.flashes('error') %}
    <div class="flash-notice">
        <p>{{ message }}</p>
    </div>
{% endfor %}


    <div class="div">
        <a href=" {{ path('newSuggestion')}}" class="looksLikeAButtonGrey">Send an idea</a>
    </div>
</div> 

    <div class="cardBoard">
        {{ dump(verifiedSuggestions)}}
        {% if not suggestions or verifiedSuggestions == 0 %}
            <p>No player has an idea to offer</p>
        {% else %}
            {% for suggestion in suggestions %}
                {% if not suggestion.isverified %}
                {% else %}
                    {% for player in suggestion.playersSuggestions %}
                        <div class="cardSuggestion">
                            {% if app.user in suggestion.playersSuggestions or is_granted('ROLE_ADMIN') %}
                                <div class="deleteOwn">
                                    <a class="zPos" href="{{ path('deleteSuggestion' , {'id':suggestion.id , 'player' : app.user.id }) }}">
                                        X
                                    </a>
                                </div>
                            {% endif %}
                            <div class="row">
                                <p>Title : {{suggestion.title}}</p>
                                <p>Author : {{player.username}}</p>
                            </div>
                            <div class="row status">
                                {% if is_granted('ROLE_ADMIN') %}
                                    <p class="status-text" id="status-{{suggestion.id}}">Status : {{suggestion.status}}</p>
                                {% else %}
                                    <p class="status-text">Status : {{suggestion.status}}</p>
                                {% endif %}
                                {% if is_granted('ROLE_ADMIN') %}
                                    <select class="status-select" style="display: none;" data-id="{{suggestion.id}}">>
                                        <option value="pending">Pending</option>
                                        <option value="closed">Closed</option>
                                        <option value="accepted">Accepted</option>
                                    </select>
                                <noscript>
                                    <select class="status-select">
                                        <option value="pending">Pending</option>
                                        <option value="closed">Closed</option>
                                        <option value="accepted">Accepted</option>
                                    </select>
                                    <a>Validate</a>
                                </noscript>
                                {% endif %}
                            </div>
                            <p>Submitted on {{suggestion.postDate|date("Y-m-d")}} at {{suggestion.postDate|date("h:m A ")}}</p>
                            <p>
                                    {% if app.user in suggestion.playersLikes %}
                                        <a class="zPos" href="{{ path('unlikeSuggestion' , {'id':suggestion.id , 'player' : app.user.id }) }}">
                                            <img class="navSvg" src=" {{asset("img/heart-full.svg") }}">
                                        </a>
                                    {% else %}
                                        <a class="zPos" href="{{ path('addLikeSuggestion' , {'id':suggestion.id , 'player' : app.user.id }) }}">
                                            <img class="navSvg" src=" {{asset("img/heart-empty.svg") }}">
                                        </a>
                                {% endif %}
                                    {{suggestion.playersLikesCount}}
                                    <a class="block" href=" {{ path("detailSuggestion", {'title' : suggestion.title, 'player' : player.id}) }}"></a>
                            </p>

                        </div>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
    {% if is_granted('ROLE_ADMIN') %}
        <script>
            $('.status').hover(
        function() { // Mouseover
            $(this).find('.status-text').hide();
            $(this).find('.status-select').show();
        },
        function() { // Mouseout
            setTimeout(() =>
            {
                $(this).find('.status-select').hide();
                $(this).find('.status-text').show();                
            },5000)
        }
    );

    $('.status-select').change(function() 
    {
        var status = $(this).val();
        var suggestionId = $(this).data('id'); // Get the id from the data attribute
        console.log(status)
        $.ajax(
            {
                url: '/community/ajax/' + suggestionId + '/changeStatus', // replace with your API endpoint
                type: 'POST',
                data: {
                    id: suggestionId,
                    status: status
                },
                success: function(response) {
                    // handle success
                    $('#status-' + suggestionId).text('Status : ' + response.status)
                    console.log(response);
                    console.log(suggestionId);
                },
                error: function(error) {
                    // handle error
                    console.log(error);
                }
            });
    });
    
        </script>
    {% endif %}
{% endblock %}
