{% extends 'base.html.twig' %}

{% block title %}Hello CommunityController!{% endblock %}

{% block body %}
<div class="globalDiv">
    {# read and display just one flash message type #}
    {% for message in app.flashes('notice') %}
        <div class="flash-notice">
            <p>{{ message }}</p>
            <p>It's this one : <b></b></p>
        </div>
    {% endfor %}

    {% for message in app.flashes('error') %}
    <div class="flash-notice">
        <p>{{ message }}</p>
    </div>
{% endfor %}


    <div class="div">
        <a href=" {{ path('newSuggestion')}}" class="looksLikeAButtonGrey">Send an idea</a>
    </div>
</div> 

    <div class="cardBoard">
        {% if not suggestions %}
            <p>No player has an idea to offer</p>
        {% else %}
            {% for suggestion in suggestions %} 
                {% for player in suggestion.playersSuggestions %}
                    <div class="cardSuggestion">
                        {% if app.user in suggestion.playersSuggestions %}
                            <div class="deleteOwn">
                                <a class="zPos" href="{{ path('deleteSuggestion' , {'id':suggestion.id , 'player' : app.user.id }) }}">
                                    X
                                </a>
                            </div>
                        {% endif %}
                        <div class="row">
                            <p>Title : {{suggestion.title}}</p>
                            <p>Author : {{player.username}}</p>
                            <p>Status : {{suggestion.status}}</p>
                        </div>
                        <p>Submitted on {{suggestion.postDate|date("Y-m-d")}} at {{suggestion.postDate|date("h:m A ")}}</p>
                        <p>
                                {% if app.user in suggestion.playersLikes %}
                                    <a class="zPos" href="{{ path('unlikeSuggestion' , {'id':suggestion.id , 'player' : app.user.id }) }}">
                                        <img class="navSvg" src=" {{asset("img/heart-full.svg") }}">
                                    </a>
                                {% else %}
                                    <a class="zPos" href="{{ path('addLikeSuggestion' , {'id':suggestion.id , 'player' : app.user.id }) }}">
                                        <img class="navSvg" src=" {{asset("img/heart-empty.svg") }}">
                                    </a>
                            {% endif %}
                                {{suggestion.playersLikesCount}}
                                <a class="block" href=" {{ path("detailSuggestion", {'title' : suggestion.title, 'player' : player.id}) }}"></a>
                        </p>

                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
    </div>
 
{% endblock %}
