{% extends 'base.html.twig' %}

{% block title %}Reviewing pannel{% endblock %}

{% block body %}
<div class="globalDiv">
    {# read and display just one flash message type #}
    {% for message in app.flashes('notice') %}
        <div class="flash-notice">
            <p>{{ message }}</p>
        </div>
    {% endfor %}

    {% for message in app.flashes('error') %}
    <div class="flash-notice">
        <p>{{ message }}</p>
    </div>
{% endfor %}
</div> 

    <div class="cardBoard">
        {% if not suggestions %}
            <p>No player has an idea to offer</p>
        {% else %}
        <table>
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Titre</td>
                    <td>Author</td>
                    <td>Post Date</td>
                    <td>Hidden status</td>
                    <td>Actions</td>
                </tr>
            </thead>
            <tbody>
                {% for suggestion in suggestions %}
                <tr>
                    <td>{{suggestion.id}}</td>
                    <td>{{suggestion.title}}</td>
                    <td>{{suggestion.playersSuggestions[0].displayUsername}}</td>
                    <td>{{suggestion.postDateFormat}}</td>
                    {% if suggestion.hiddenStatus == 0 %}
                        <td>Safe</td>
                    {% elseif suggestion.hiddenStatus == 1 %}
                        <td>Denied</td>
                    {% else %}
                        <td>New</td>
                    {% endif %}
                    <td>
                        <a class="linkNoBase" href="{{path('acceptSuggestion', {'id' : suggestion.id})}}">
                            Accept
                        </a> - 
                        <a class="linkNoBase" href="{{path('denySuggestion', {'id' : suggestion.id})}}">
                            Deny
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
            {% for suggestion in suggestions %}
                {% for player in suggestion.playersSuggestions %}

                {% endfor %}
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
