{% extends 'base.html.twig' %}

{% block title %}Encyclopedia : Demons{% endblock %}

{% block body %}
    <div class="menuTable">
        <div class="menu">
            <ul>
                <li><a href=" {{path('demonsList')}}">Gods</a></li>
                <li><a href=" {{path('itemsList')}}">Items</a></li>
                <li><a href=" {{path('skillsList')}}">Skills</a></li>
                <li><a href=" {{path('traitsList')}}">Traits</a></li>
                <li><a href=" {{path('skillTablesList')}}">SkillTable</a></li>
            </ul>
        </div>
        <div class="divDemon">
                <h1 class="centerTitle">{{demon.name}}</h1>
                <p class="lineHeight">{{demon.lore}}</p>
                <div class="separator"></div>
                <h3 class="orange">Learns the following skills</h3>
                <ul class="specialList">
                    {% for skills in demon.skillTable %}
                        <li><a class="linkNoBase" href="{{path('skillDetail' , {'name' : skills.skill.name})}}">{{skills.skill.name}} ({{skills.level}})</a></li>
                    {% endfor %}
                </ul>
                <div class="separator"></div>
                <div class="stat">
                    <div class="stat-name">Strength</div>
                    <div class="stat-number">{{demon.strDemonBase}}</div>
                    <div class="stat-bar">
                        <div class="stat-value" style="width: {{ demon.strDemonBase }}%;"></div>
                    </div>
                    <div class="stat-name">Endurance</div>
                    <div class="stat-number">{{demon.endDemonBase}}</div>
                    <div class="stat-bar">
                        <div class="stat-value" style="width: {{ demon.endDemonBase }}%;"></div>
                    </div>
                    <div class="stat-name">Agility</div>
                    <div class="stat-number">{{demon.agiDemonBase}}</div>
                    <div class="stat-bar">
                        <div class="stat-value" style="width: {{ demon.agiDemonBase }}%;"></div>
                    </div>
                    <div class="stat-name">Intelligence</div>
                    <div class="stat-number">{{demon.intDemonBase}}</div>
                    <div class="stat-bar">
                        <div class="stat-value" style="width: {{ demon.intDemonBase }}%;"></div>
                    </div>
                    <div class="stat-name">Luck</div>
                    <div class="stat-number">{{demon.lckDemonBase}}</div>
                    <div class="stat-bar">
                        <div class="stat-value" style="width: {{ demon.lckDemonBase }}%;"></div>
                    </div>
                </div>
        </div>
    </div>
{% endblock %}
