{% extends 'base.html.twig' %}

{% block title %}Encyclopedia : Demons{% endblock %}

{% block body %}
    <div class="menuTable">


        <div class="menu">
            <ul>
                <li><a href=" {{path('demonsList')}}">Gods</a></li>
                <li><a href=" {{path('itemsList')}}">Items</a></li>
                <li><a href=" {{path('skillsList')}}">Skills</a></li>
                <li><a href=" {{path('traitsList')}}">Traits</a></li>
            </ul>
        </div>

        <div class="divTable">
            {% if is_granted('ROLE_ADMIN') %}
            <div class="pex"><a class="looksLikeAButtonBlack" href="{{path('newDemonBase')}}">Add a new one</a></div>
        {% endif %}
        <table>
            <thead>
                <tr>
                    <th><b>ID</b></th>
                    <th><b>Name</b></th>
                    <th><b>Pantheon</b></th>
                    {% if is_granted('ROLE_ADMIN') %}
                        <th><b>Actions</b></th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for demon in demons %}
                <tr>
                    <td>{{demon.id}}</td>
                    <td><a class="linkNoBase" href="{{ path('demonDetail', {'name' : demon.name}) }}">{{demon.name}}</a></td>
                    <td>{{demon.pantheon}}</td>
                    {% if is_granted('ROLE_ADMIN') %}
                    <td>
                        <i><a class="deleteBtn" href='#'>X</a><a href=" {{path('editDemonBase', {'name' : demon.name})}}">Edit</a></i>
                    </td>
                {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>

        <div id="myModal" class="modal">
            <div class="modal-content">
                <div class="modal-center">
                    <span class="close">&times;</span>
                    <p>Do you really want to delete this?</p>
                    <button id="yesBtn">Yes</button>
                    <button id="noBtn">No</button>
                </div>
            </div>
        </div>

        <script>
            var modal = document.getElementById("myModal");
            var btns = document.querySelectorAll(".deleteBtn");
            var span = document.getElementsByClassName("close")[0];
            var yesBtn = document.getElementById("yesBtn");
            var noBtn = document.getElementById("noBtn");
            
            btns.forEach(function(btn) {
                btn.onclick = function(event) {
                    event.preventDefault();
                    modal.style.display = "flex";
                    modal.style.justifyContent = "center"
                    
                    // Get the name of the demon from the parent row
                    var demonName = this.parentElement.parentElement.parentElement.children[1].children[0].innerHTML;
                    
                    yesBtn.onclick = function() {
                        // handle the deletion here
                        window.location.href = "/admin/demon/base/" + encodeURIComponent(demonName) + "/delete";
                        modal.style.display = "none";
                    }
                }
            });
            
            span.onclick = function() {
                modal.style.display = "none";
            }
            
            yesBtn.onclick = function() {
                // handle the deletion here
                modal.style.display = "none";
            }
            
            noBtn.onclick = function() {
                modal.style.display = "none";
            }
            
            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        </script>
    </div>
{% endblock %}
