{% extends 'base.html.twig' %}

{% block title %}Encyclopedia : Demons{% endblock %}

{% block body %}
    <div class="menuTable">
        <div class="menu">
            <ul>
                <li><a href=" {{path('demonsList')}}">Gods</a></li>
                <li><a href=" {{path('itemsList')}}">Items</a></li>
                <li><a href=" {{path('skillsList')}}">Skills</a></li>
                <li><a href=" {{path('traitsList')}}">Traits</a></li>
                <li><a href=" {{path('skillTablesList')}}">SkillTable</a></li>
            </ul>
        </div>
        <div class="centerWrap">
            <div class="divDemon">
                <h1>{{skill.name}}</h1>
                <p>{{skill.description}}</p>
                <p>Potency : {{skill.baseDmg}}</p>
                <p>Damage type : {{skill.dmgType}}</p>
                <div class="separator"></div>
                <h3>Demons able to learn this skill by Leveling</h3>
                <ul>
                    {% for skillTable in skill.skillTable %}
                        <li><a class="linkNoBase" href=" {{path('demonDetail', {'name' : skillTable.demonBase.name})}}">{{skillTable.demonBase.name}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
