{% extends 'base.html.twig' %}
{% block meta %}
<meta name="description" content="Add or edit a skill">
{% endblock %}
{% block title %}
    {% if edit %}
        Edit an existing Skill
    {% else %}
        Add a new Skill
    {% endif %}
{% endblock %}

{% block body %}
{% if edit %}
    <h1 class="centerTitle">Edit an existing Skill</h1>
{% else %}
    <h1 class="centerTitle">Create a new Skill</h1>
{% endif %}
<div class="formGlobal">
    <div class="formInside">
        {{ form_errors(formNewSkill) }}

        {{ form_start(formNewSkill) }}
            {{ form_row(formNewSkill.name) }}
            {{ form_row(formNewSkill.baseDmg) }}
            {{ form_row(formNewSkill.dmgType) }}
            {{ form_row(formNewSkill.description) }}
            <p class="paraForm">Fields marked with <b>*</b> are mandatory.</p>
        {{ form_end(formNewSkill) }}
    </div>
</div>
{% endblock %}