{% extends 'base.html.twig' %}
{% block meta %}
<meta name="description" content="This is lab guidelines">
{% endblock %}

{% block stylesheets %}
    {# import base #}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/the_lab.css') }}">
{% endblock %}
{% block title %}
    The Lab
{% endblock %}

{% block body %}
<div class="center">
    <h1>What is this page about ?</h1>
    <p>This page will allow to simulate damage calculations.</p>
    <h1>How to use</h1>
    <ul>
        <li>Select a demon that would be your own</li>
        <li>Parameter its stats and level</li>
        <li>Select a demon for the CPU</li>
        <li>Parameter its stats and level</li>
        <li>Select the skill you want to use</li>
        <li>See how much damage you would have done</li>
    </ul>

    {{ form_start(form, {'action': path('the_labCalc'), 'method': 'POST'}) }}
        {{form_row(form.demonBase)}}
        {{form_row(form.level)}}
        {{form_row(form.trait)}}
        <h2>Enter your stats</h2>
        <table>
            <thead>
                <tr>
                    <td>{{form_label(form.str)}}</td>
                    <td>{{form_label(form.agi)}}</td>
                    <td>{{form_label(form.end)}}</td>
                    <td>{{form_label(form.int)}}</td>
                    <td>{{form_label(form.lck)}}</td>
                </tr>
            </thead>
            <tbody>
                <td>{{form_widget(form.str)}}</td>
                <td>{{form_widget(form.agi)}}</td>
                <td>{{form_widget(form.end)}}</td>
                <td>{{form_widget(form.int)}}</td>
                <td>{{form_widget(form.lck)}}</td>
            </tbody>
        </table>
        {{form_row(form.skill)}}
        {{form_row(form.validate)}}
    {{ form_end(form) }}
</div>

{% endblock %}