{% extends 'base.html.twig' %}

{% block title %}Panel for demon{% endblock %}

{% block body %}
    <div class="centerWrapNoGrow">
        <div class="divDemon">
            <div class="divMsg">
                <a class="looksLikeAButtonBlack" href="{{path('playerNewDemon', {'player' : player.id})}}">Add a new one</a>
            </div>
            <div class="divMsg">
                {% for message in app.flashes('noticeChange') %}
                    <p>{{ message }}</p>
                {% endfor %}
                <form action="/admin/{{ player.id }}/updateDemons" method="post"> 
            <button type="submit">Validate</button>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Level</th>
                        <th>STR pts</th>
                        <th>END pts</th>
                        <th>AGI pts</th>
                        <th>INT pts</th>
                        <th>LCK pts</th>
                        <th>LvlUp Points</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for demon in demons %}
                        <tr>
                            <td>{{demon.demonBase.name}}</td>
                            <td>{{demon.level}}</td>
                            <td><input type="number" class="adminInput" name="str-{{demon.id}}" value="{{demon.strPoints}}"></td>
                            <td><input type="number" class="adminInput" name="end-{{demon.id}}"value="{{demon.endPoints}}"></td>
                            <td><input type="number" class="adminInput" name="agi-{{demon.id}}"value="{{demon.agiPoints}}"></td>
                            <td><input type="number" class="adminInput" name="int-{{demon.id}}" value="{{demon.intPoints}}"></td>
                            <td><input type="number" class="adminInput" name="lck-{{demon.id}}" value="{{demon.lckPoints}}"></td>
                            <td><input type="number" class="adminInput" name="pts-{{demon.id}}" value="{{demon.lvlUpPoints}}"></td>
                            <td>
                                <i><a class="deleteBtn" href='#'>X</a><a href=" {{path('playerEditDemon', {'demonPlayer' : demon.id, 'player' : player.id})}}">Edit</a></i>
                            </td>

                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <input type="hidden" name="csrf_token" value="{{ csrf_token('delete-item') }}">
            </form>
        </div>  
    </div>
{% endblock %}
