{% extends 'base.html.twig' %}

{% block title %}Panel for demon{% endblock %}

{% block body %}
    <div class="centerWrapNoGrow">
        <div class="divDemon">
            <div class="divMsg">
                <a class="looksLikeAButtonBlack" href="{{path('playerNewDemon', {'player' : player.id})}}">Add a new one</a>
            </div>
            <div class="divMsg">
                {% for message in app.flashes('noticeChange') %}
                    <p>{{ message }}</p>
                {% endfor %}
                <form action="/admin/{{ player.id }}/updateDemons" method="post"> 
            <button class="looksLikeAButtonBlue" type="submit">Validate</button>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Level</th>
                        <th>STR pts</th>
                        <th>END pts</th>
                        <th>AGI pts</th>
                        <th>INT pts</th>
                        <th>LCK pts</th>
                        <th>LvlUp Points</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for demon in demons %}
                        <tr>
                            <td>{{demon.demonBase.name}}</td>
                            <td>{{demon.level}}</td>
                            <td><input type="number" class="adminInput" name="str-{{demon.id}}" value="{{demon.strPoints}}"></td>
                            <td><input type="number" class="adminInput" name="end-{{demon.id}}"value="{{demon.endPoints}}"></td>
                            <td><input type="number" class="adminInput" name="agi-{{demon.id}}"value="{{demon.agiPoints}}"></td>
                            <td><input type="number" class="adminInput" name="int-{{demon.id}}" value="{{demon.intPoints}}"></td>
                            <td><input type="number" class="adminInput" name="lck-{{demon.id}}" value="{{demon.lckPoints}}"></td>
                            <td><input type="number" class="adminInput" name="pts-{{demon.id}}" value="{{demon.lvlUpPoints}}"></td>
                            <td>
                                <i>
                                    <a class="deleteBtn adminAction" href='#'>X</a>
                                    <span>—</span>
                                    <a class="adminAction" href=" {{path('playerEditDemon', {'dp' : demon.id, 'player' : player.id})}}">Edit</a>
                                </i>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <input type="hidden" name="csrf_token" value="{{ csrf_token('delete-item') }}">
            </form>
        </div>  
    </div>

    <div id="myModal" class="modal">
        <div class="modal-content">
            <div class="modal-center">
                <span class="close">&times;</span>
                <p>Do you really want to delete this?</p>
                <button id="yesBtn">Yes</button>
                <button id="noBtn">No</button>
            </div>
        </div>
    </div>

    <script>
        var modal = document.getElementById("myModal");
        var btns = document.querySelectorAll(".deleteBtn");
        var span = document.getElementsByClassName("close")[0];
        var yesBtn = document.getElementById("yesBtn");
        var noBtn = document.getElementById("noBtn");
        
        btns.forEach(function(btn) {
            btn.onclick = function(event) {
                event.preventDefault();
                modal.style.display = "flex";
                modal.style.justifyContent = "center"

                // Get the name of the demon from the parent row
                var playerId = '{{player.id}}'
                var demonPlayerId = this.parentElement.parentElement.parentElement.children[2].children[0].name;
                demonPlayerId = demonPlayerId.split('-')
                demonPlayerId = demonPlayerId[1]
                console.log(playerId)
                console.log(demonPlayerId);
                /* admin/demon/{id}/delete/{demonPlayer} */
                yesBtn.onclick = function() {
                    // handle the deletion here
                    window.location.href = "/admin/demon/" + playerId + "/delete/" +  encodeURIComponent(demonPlayerId);
                    modal.style.display = "none";
                }
            }
        });
        
        span.onclick = function() {
            modal.style.display = "none";
        }
        
        yesBtn.onclick = function() {
            // handle the deletion here
            modal.style.display = "none";
        }
        
        noBtn.onclick = function() {
            modal.style.display = "none";
        }
        
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
{% endblock %}
