{% extends 'base.html.twig' %}

{% block title %}User Management{% endblock %}

{% block body %}
    <div class="centerWrapNoGrow">
        <div class="divDemon">
            <h1 class="centerTitle">User management panel</h1>
            <p>
                This page will allow you to manage users. By clicking their name you can manage
                their demons and their inventory.
            </p>

            <table>
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Action</th>
                        <th colspan="2">Management</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{user.username}}</td>
                            <td>{{user.email}}</td>
                            {% if 'ROLE_BANNED' in user.roles %}
                                <td><a href=" {{path('unbanAction', {'id' : user.id})}}">Unban</a></td>
                            {% else %}
                                <td><a class="adminAction" href=" {{path('banAction', {'id' : user.id})}}">Ban</a></td>
                            {% endif %}
                           <td><a class="adminAction" href=" {{path('userDetail', {'id' : user.id})}}">Demons</a></td> 
                           <td><a class="adminAction" href=" {{path('userDetailItem', {'id' : user.id})}}">Items</a></td> 
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}
